<nav class="cat__menu-left">
    <div class="cat__menu-left__lock cat__menu-left__action--menu-toggle">
        <div class="cat__menu-left__pin-button">
            <div><!-- --></div>
        </div>
    </div>
    <div class="cat__menu-left__logo">
        <a [routerLink]="['/']">
            
        </a>
    </div>
    <div class="cat__menu-left__inner">
        <ul class="cat__menu-left__list cat__menu-left__list--root">
            <li class="cat__menu-left__item cat__menu-left__submenu" [routerLinkActive]="['cat__menu-left__item--active']">
                <a [routerLink]="['/']">
                    <span class="cat__menu-left__icon icmn-price-tag"></span>
                    Budget
                </a>
                <ul class="cat__menu-left__list">
                    <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
                        <a [routerLink]="['products']">
                            <span class="cat__menu-left__icon">PL</span>
                            New Budget
                        </a>
                    </li>
                </ul>
            </li>        
            <li class="cat__menu-left__item cat__menu-left__submenu" [routerLinkActive]="['cat__menu-left__item--active']">
                <a [routerLink]="['dashboards/alpha']">
                    <span class="cat__menu-left__icon icmn-office"></span>
                    Reports
                </a>
            </li>
            <li class="cat__menu-left__item cat__menu-left__submenu" [routerLinkActive]="['cat__menu-left__item--active']">
                <a [routerLink]="['dashboards/alpha']">
                    <span class="cat__menu-left__icon icmn-stack"></span>
                    Accounts
                </a>
            </li>

        </ul>
    </div>
</nav>
