<nav class="cat__menu-left">
    <div class="cat__menu-left__lock cat__menu-left__action--menu-toggle">
        <div class="cat__menu-left__pin-button">
            <div><!-- --></div>
        </div>
    </div>
    <div class="cat__menu-left__logo">
        <a [routerLink]="['/']">
            
        </a>
    </div>
    <div class="cat__menu-left__inner">
        <ul class="cat__menu-left__list cat__menu-left__list--root">
            <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
                <a style="padding-right: 0" [routerLink]="['/']">
                    <span class="cat__menu-left__icon fa fa-calculator"></span>
                    Budget
                    <span style="margin-left: 70px" class="font-size-12"><button style="outline: none; background: transparent; color:lightgray; border-radius:5px; padding: 3px; border .5em white"><span style="color: lightgrey">New&nbsp;</span><strong><i class="font-size-15 far fa-plus-circle"></i></strong></button> </span>
                </a>
               
            </li>        
            <li class="cat__menu-left__item cat__menu-left__submenu" [routerLinkActive]="['cat__menu-left__item--active']">
                <a [routerLink]="['dashboards/alpha']">
                    <span class="cat__menu-left__icon icmn-office"></span>
                    Reports
                </a>
            </li>
            <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
                <a style="padding-right:0px; background-color: #070327" [routerLink]="['dashboards/alpha']">
                   <span style="min-width: 35px; float:right;" class="">AC</span>
                   <span style="padding-right: 15px;float:right; color:#dee4c0; font-size: 14px; font-weight: bold;" class="">+450000000</span>

                    <strong> Accounts</strong>
                </a>
                <ul class="cat__menu-left__list">
                    <li  class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
                        <a style="min-height:25px; padding:5px 50px 5px 20px;" [routerLink]="['transactions']">
                           <span style="float:right; color:#d3f13d; font-size: 11px; font-weight: bold;" class="">+50000000</span>
                            <i style="padding: 5px;" class="fa fa-edit"></i>
                            <small>Federal bank abcdefghijkl</small>
                        </a>
                    </li>
                    <li  class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
                        <a style="min-height:25px; padding:5px 50px 5px 20px;" [routerLink]="['transactions']">
                           <span style="float:right; color:#ff9696;font-size: 11px; font-weight: bold;" class="">-50000000000</span>
                            <i style="padding: 5px;" class="fa fa-edit"></i>
                            <small>HDFC</small>
                        </a>
                    </li>
                </ul>
                <button style="padding:0px 7px; margin:25px 25px; color:white; border-radius: 10px; background: transparent">Add Account</button>
            </li>

        </ul>
    </div>
</nav>
