<!-- START: dashboard -->
<nav style="background-color: #545b62; height: 50px;" class="cat__core__top-sidebar cat__core__top-sidebar--bg">
    <div class="form-group" style="padding:10px 40px; height:40px;">
        <div id="slt-prev-mnth" class="prev-btn" style="width:auto; float: left;font-size: 25px; color: #efa31f;" ><i class="far fa-chevron-circle-left"></i></div> 
        <div style="width:auto; float: left;" class='input-group date' id='datepicker'>
            <input  type='hidden' class="form-control" id="inputDate" placeholder="Date" value="">
            <span style="width: 150px; height: 20px; color:white;padding-top: 15px;" class="input-group-addon"></span>
        </div>

        <div id="slt-next-mnth" class="next-btn"  style="width:auto; float: left;font-size: 25px;color: #efa31f;"><i class="far fa-chevron-circle-right"></i></div>
    </div>
</nav>
<div class="row">
    <div class="col-xl-12">
        <div style="background-color: white; padding: 10px;border-bottom: 1px solid #e4e9f0;color: #866a3a;">
            <span><i class="far fa-plus-circle"></i></span>&nbsp;Category Group
        </div>
    </div>
    <div class="col-xl-9">
        <section>
            <div style="background-color: white;height: 30px; padding: 5px;overflow:hidden">
                <div class="row" >
                    <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center" style="padding:0px 3px;">
                        <div  class="ember-view ynab-checkbox">
                            <input class="form-control" type="checkbox" >
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 text-left" style="" >CATEGORY</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-left " style="padding-left:3px">BUDGETED</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-left" style="padding-left:3px">ACTIVITY</div>
                    <div class="col-ld-2 col-md-2 col-sm-2 col-2 text-left" style="padding-left:3px">
                        <strong>AVAILABLE</strong>
                    </div>
                </div>
            </div>
            <div id="category_list" style="padding: 5px; height: 440px; overflow-y: auto; overflow-x: hidden">
                <div class="row" style="background-color: #ddb67c; padding:10px 0px;border-bottom: .05em solid #f4e9d4">  
                    <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center" style="padding:0px 3px; ">
                        <div  title="" class="ember-view ynab-checkbox">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 text-left" style="font-weight: bold;">
                        <span style="min-width:12px; margin-right:3px;"><i class="fa fa-caret-right fa-lg"></i></span>Immediate Obligations<span style="padding-left:3px"><i class="far fa-plus-circle"></i></span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-left">
                        <bdi>$</bdi>10.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>0.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>10.00
                    </div>
                </div>
                <div  class="row" style="background-color: white;border-bottom: .05em solid #f4e9d4">
                    <div class="col-1 text-center" style="padding:0px 3px;">
                        <div  title="" class="ember-view ynab-checkbox">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-5 text-left" style="padding-left: 25px; ">
                        Rent/Mortgage
                    </div>
                    <div class="col-2">
                        $10
                    </div>
                    <div class="col-2">
                        $10
                    </div>
                    <div class="col-2">
                        $10
                    </div>
                </div>
                                <div  class="row" style="background-color: white;border-bottom: .05em solid #f4e9d4">
                    <div class="col-1 text-center" style="padding:0px 3px;">
                        <div  title="" class="ember-view ynab-checkbox">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-5 text-left" style="padding-left: 25px; ">
                        Rent/Mortgage
                    </div>
                    <div class="col-2">
                        $10
                    </div>
                    <div class="col-2">
                        $10
                    </div>
                    <div class="col-2">
                        $10
                    </div>
                </div>
                <div class="row" style="background-color: #ddb67c; padding:10px 0px;border-bottom: .05em solid #f4e9d4">  
                    <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center" style="padding:0px 3px; ">
                        <div  title="" class="ember-view ynab-checkbox">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 text-left" style="font-weight: bold;">
                        <span style="min-width:12px; margin-right:3px;"><i class="fa fa-caret-right fa-lg"></i></span>Immediate Obligations<span style="padding-left:3px"><i class="far fa-plus-circle"></i></span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-left">
                        <bdi>$</bdi>10.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>0.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>10.00
                    </div>
                </div>
                <div class="row" style="background-color: #ddb67c; padding:10px 0px;border-bottom: .05em solid #f4e9d4">  
                    <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center" style="padding:0px 3px; ">
                        <div  title="" class="ember-view ynab-checkbox">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 text-left" style="font-weight: bold;">
                        <span style="min-width:12px; margin-right:3px;"><i class="fa fa-caret-right fa-lg"></i></span>Immediate Obligations<span style="padding-left:3px"><i class="far fa-plus-circle"></i></span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-left">
                        <bdi>$</bdi>10.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>0.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>10.00
                    </div>
                </div>              
                <div class="row" style="background-color: #ddb67c; padding:10px 0px;border-bottom: .05em solid #f4e9d4">  
                    <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center" style="padding:0px 3px; ">
                        <div  title="" class="ember-view ynab-checkbox">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 text-left" style="font-weight: bold;">
                        <span style="min-width:12px; margin-right:3px;"><i class="fa fa-caret-right fa-lg"></i></span>Immediate Obligations<span style="padding-left:3px"><i class="far fa-plus-circle"></i></span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-left">
                        <bdi>$</bdi>10.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>0.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>10.00
                    </div>
                </div>
                <div class="row" style="background-color: #ddb67c; padding:10px 0px;border-bottom: .05em solid #f4e9d4">  
                    <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center" style="padding:0px 3px; ">
                        <div  title="" class="ember-view ynab-checkbox">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 text-left" style="font-weight: bold;">
                        <span style="min-width:12px; margin-right:3px;"><i class="fa fa-caret-right fa-lg"></i></span>Immediate Obligations<span style="padding-left:3px"><i class="far fa-plus-circle"></i></span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-left">
                        <bdi>$</bdi>10.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>0.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>10.00
                    </div>
                </div>
                <div class="row" style="background-color: #ddb67c; padding:10px 0px;border-bottom: .05em solid #f4e9d4">  
                    <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center" style="padding:0px 3px; ">
                        <div  title="" class="ember-view ynab-checkbox">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 text-left" style="font-weight: bold;">
                        <span style="min-width:12px; margin-right:3px;"><i class="fa fa-caret-right fa-lg"></i></span>Immediate Obligations<span style="padding-left:3px"><i class="far fa-plus-circle"></i></span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-left">
                        <bdi>$</bdi>10.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>0.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>10.00
                    </div>
                </div>
                <div class="row" style="background-color: #ddb67c; padding:10px 0px;border-bottom: .05em solid #f4e9d4">  
                    <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center" style="padding:0px 3px; ">
                        <div  title="" class="ember-view ynab-checkbox">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 text-left" style="font-weight: bold;">
                        <span style="min-width:12px; margin-right:3px;"><i class="fa fa-caret-right fa-lg"></i></span>Immediate Obligations<span style="padding-left:3px"><i class="far fa-plus-circle"></i></span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-left">
                        <bdi>$</bdi>10.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>0.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>10.00
                    </div>
                </div>
                <div class="row" style="background-color: #ddb67c; padding:10px 0px;border-bottom: .05em solid #f4e9d4">  
                    <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center" style="padding:0px 3px; ">
                        <div  title="" class="ember-view ynab-checkbox">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 text-left" style="font-weight: bold;">
                        <span style="min-width:12px; margin-right:3px;"><i class="fa fa-caret-right fa-lg"></i></span>Immediate Obligations<span style="padding-left:3px"><i class="far fa-plus-circle"></i></span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-left">
                        <bdi>$</bdi>10.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>0.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>10.00
                    </div>
                </div>  
                <div class="row" style="background-color: #ddb67c; padding:10px 0px;border-bottom: .05em solid #f4e9d4">  
                    <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center" style="padding:0px 3px; ">
                        <div  title="" class="ember-view ynab-checkbox">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 text-left" style="font-weight: bold;">
                        <span style="min-width:12px; margin-right:3px;"><i class="fa fa-caret-right fa-lg"></i></span>Immediate Obligations<span style="padding-left:3px"><i class="far fa-plus-circle"></i></span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-left">
                        <bdi>$</bdi>10.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>0.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>10.00
                    </div>
                </div>   
                <div class="row" style="background-color: #ddb67c; padding:10px 0px;border-bottom: .05em solid #f4e9d4">  
                    <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center" style="padding:0px 3px; ">
                        <div  title="" class="ember-view ynab-checkbox">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 text-left" style="font-weight: bold;">
                        <span style="min-width:12px; margin-right:3px;"><i class="fa fa-caret-right fa-lg"></i></span>Immediate Obligations<span style="padding-left:3px"><i class="far fa-plus-circle"></i></span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-left">
                        <bdi>$</bdi>10.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>0.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>10.00
                    </div>
                </div>
                <div class="row" style="background-color: #ddb67c; padding:10px 0px;border-bottom: .05em solid #f4e9d4">  
                    <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center" style="padding:0px 3px; ">
                        <div  title="" class="ember-view ynab-checkbox">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 text-left" style="font-weight: bold;">
                        <span style="min-width:12px; margin-right:3px;"><i class="fa fa-caret-right fa-lg"></i></span>Immediate Obligations<span style="padding-left:3px"><i class="far fa-plus-circle"></i></span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-left">
                        <bdi>$</bdi>10.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>0.00
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <bdi>$</bdi>10.00
                    </div>
                </div>
            </div>
        </section> 
    </div>


    <div class="col-xl-3">
        <div class="row">
            <div class="col-lg-12">
                <br/>
                <div class="cat__core__widget cat__core__widget__3 bg-default">
                    <div class="carousel slide" id="carousel-1" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-1" data-slide-to="1" class=""></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <a href="javascript: void(0);" class="cat__core__widget__3__body text-white">
                                    <div class="cat__core__widget__3__icon">
                                        <i class="icmn-accessibility"></i>
                                    </div>
                                    <h2>Sales Growth</h2>
                                    <p>View Report</p>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="javascript: void(0);" class="cat__core__widget__3__body text-white">
                                    <div class="cat__core__widget__3__icon">
                                        <i class="icmn-download"></i>
                                    </div>
                                    <h2>All Reports</h2>
                                    <p>Pdf Download</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cat__core__widget cat__core__widget__3 bg-default">
                    <div class="carousel slide" id="carousel-2" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-2" data-slide-to="1" class=""></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <a href="javascript: void(0);" class="cat__core__widget__3__body text-white">
                                    <div class="cat__core__widget__3__icon">
                                        <i class="icmn-books"></i>
                                    </div>
                                    <h2>
                                        <i class="icmn-books"></i> Todo
                                    </h2>
                                    <p>
                                        1. Upgrade
                                        <br />
                                        2. Finish
                                    </p>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="javascript: void(0);" class="cat__core__widget__3__body text-white">
                                    <div class="cat__core__widget__3__icon">
                                        <i class="icmn-download"></i>
                                    </div>
                                    <h2>
                                        <i class="icmn-download"></i> Finish
                                    </h2>
                                    <p>
                                        1. Upgrade
                                        <br />
                                        2. Prepare
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cat__core__widget p-3">
                    <p class="m-0">Text widget. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END: page scripts -->
