<!-- START: ecommerce/products-list -->
<section class="card"  >
    <div style="color:black;background: #545B62;margin: 0; padding:5px 0px;height: 42px; " class="card-header">
        <div style="padding: 0 0 0 5px; margin: 0; color:white" class="row">
            <div style="margin:0;" class="col-6 col-sm-6 col-md-6 col-lg-7">
                <h4 style="color: white; font-weight: bold;" ><i class="fal fa-angle-double-right"></i>&nbsp;American Express</h4>
            </div>
            <div style="margin-top:-7px;" class="col-6 col-sm-6 col-md-6 col-lg-5">
                <div class="row">
                    <div class="text-center" style="width:29%; padding:0">
                        <div style=" color:white; "><small><i>Cleared Balance</i></small></div>
                        <div style="font-size: 16px; font-weight: bold; color:#7dd610">$100000000</div>
                    </div>
                    <div class=" text-center" style="width:5%; padding:0; font-weight: bold; padding-top:10px; font-size: 14px" >+</div>
                    <div class="text-center" style="width:29%;padding:0" >
                        <div><small><i>Uncleared Balance</i></small></div>
                        <div style="font-size: 16px; font-weight: bold; color:#7dd610">$100000000</div>    
                    </div>
                    <div class=" text-center" style="width:5%;padding:0; font-weight: bold; padding-top:10px; font-size: 14px">=</div>
                    <div class=" text-center" style="width:29%;padding:0 5px 0 0">
                        <div><small><i>Working Balance</i></small></div>
                        <div style="font-size: 16px; font-weight: bold; color:#7dd610">$100000000</div>  
                    </div>                        
                </div>                    
            </div>            
        </div>
    </div>
    <div class="card-block" style="padding: 0">
        <div style="height: 25px;padding-left: 5px; ">
            <span style="padding: 5px"><a ><i class="far fa-plus-circle"></i>&nbsp;Add<small style="font-size: 2px" >&nbsp;</small>Transaction</a></span><span style="padding: 5px"><a ><i class="fal fa-edit"></i>&nbsp;Edit</a>&nbsp;<i class="fa fa-caret-down"></i></span><span style="padding: 5px"><a ><i class="fal fa-file-import"></i>&nbsp;Import</a></span>
        </div>
        <table style="min-width: 500px"   class="table table-fixed">
            <thead class="thead-default">
                <tr style="width: 100%">
                    <th style="width:3%;height:35px;  text-align: left;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" iclass="col-1 text-left"><input type="checkbox" ></th>
                    <th style="width:10%;height:35px;  text-align: left;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" iclass="col-1 text-left" >Date</th>
                    <th style="width:18%;height:35px;  text-align: left;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" iclass="col-2 text-left" >Payee</th>
                    <th style="width:18%;height:35px;  text-align: left;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" iclass="col-2 text-left" >Category</th>
                    <th style="width:18%;height:35px;  text-align: left;text-overflow: ellipsis; white-space: nowrap;overflow: hidden; " iclass="col-3 text-left" >Memo</th>
                    <th style="width:12%;height:35px;  text-align: left;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" iclass="col-1 text-left" >Type</th>
                    <th style="width:12%;height:35px;  text-align: left;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" iclass="col-1 text-left" >Amount</th>
                    <th style="width:8%;height:35px;  text-align: left;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" iclass="col-1 text-left" >Cleared</th>
                </tr>
            </thead>

            <tbody  >
                <tr style="height:35px;"  *ngFor="let item of arrayOne(28);">
                    <td style="width:3%; height:35px; text-align: left; text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" iclass="col-1 text-left" ><input type="checkbox" ></td>
                    <td style="width:10%; height:35px; text-align: left; text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" iclass="col-1 text-left" >2018/12/12</td>
                    <td style="width:18%; height:35px; text-align: left;text-overflow: ellipsis;  white-space: nowrap;overflow: hidden;" iclass="col-2 text-left" >abisondd sfdsfsdf dsfsdfsdf ssfsd dsde</td>
                    <td style="width:18%; height:35px; text-align: left; text-overflow: ellipsis;  white-space: nowrap;overflow: hidden;" iclass="col-2 text-left" >autdddsf sdfds fdsfdsdddd </td>
                    <td style="width:18%; height:35px; text-align: left; text-overflow: ellipsis;  white-space: nowrap;overflow: hidden;" iclass="col-3 text-left" >Simpf dsf dsfds dsfsdf sdf dsoduct</td>
                    <td style="width:12%; height:35px; text-align: left; text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" iclass="col-1 text-left" >credit</td>
                    <td style="width:12%; height:35px; text-align: left; text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" iclass="col-1 text-left" >$120000000.00</td>
                    <td style="width:8%; height:35px; text-align: left; text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" iclass="col-1 text-left" >c</td>

                </tr>
            </tbody>
        </table>
    </div>
</section>
<!-- END: ecommerce/products-list -->
