<!-- START: ecommerce/products-list -->
<section class="card">
    <div class="card-header">
        <div class="dropdown pull-right">
            <a [routerLink]="['/brand/add']" ><button type="button" class="btn btn-primary btn-sm">Add New Brand</button></a>
        </div>
        <span class="cat__core__title">
            <strong>Brands List</strong>
        </span>
    </div>
    <div class="card-block">
        <table class="table table-hover nowrap" id="example1" width="100%">
            <thead class="thead-default">
            <tr>
                <th>ID</th>
                <th>Logo</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>ID</th>
                <th>Logo</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </tfoot>
            <tbody>
            <tr>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">000010</a></td>
                <td><a href="javascript: void(0);" class="cat__ecommerce__dashboard__list__img"><img src="assets/modules/ecommerce/common/img/001.jpg" /></a></td>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">CK Glasses</a></td>
                <td>
                    <a [routerLink]="['edit']" class="control cat__core__link--underlined mr-3"><i class="icmn-pencil"><!-- --></i> Edit</a>
                    <a href="javascript: void(0);" class="control cat__core__link--underlined"><small><i class="icmn-cross"><!-- --></i></small> Remove</a>
                </td>
            </tr>
            <tr>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">000011</a></td>
                <td><a href="javascript: void(0);" class="cat__ecommerce__dashboard__list__img"><img src="assets/modules/ecommerce/common/img/002.jpg" /></a></td>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">Harmann Glasses</a></td>
                <td>
                    <a [routerLink]="['edit']" class="control cat__core__link--underlined mr-3"><i class="icmn-pencil"><!-- --></i> Edit</a>
                    <a href="javascript: void(0);" class="control cat__core__link--underlined"><small><i class="icmn-cross"><!-- --></i></small> Remove</a>
                </td>
            </tr>
            <tr>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">000012</a></td>
                <td><a href="javascript: void(0);" class="cat__ecommerce__dashboard__list__img"><img src="assets/modules/ecommerce/common/img/003.jpg" /></a></td>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">D&G Glasses</a></td>
                <td>
                    <a [routerLink]="['edit']" class="control cat__core__link--underlined mr-3"><i class="icmn-pencil"><!-- --></i> Edit</a>
                    <a href="javascript: void(0);" class="control cat__core__link--underlined"><small><i class="icmn-cross"><!-- --></i></small> Remove</a>
                </td>
            </tr>
            <tr>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">000013</a></td>
                <td><a href="javascript: void(0);" class="cat__ecommerce__dashboard__list__img"><img src="assets/modules/ecommerce/common/img/004.jpg" /></a></td>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">Adidas Glasses</a></td>
                <td>
                    <a [routerLink]="['edit']" class="control cat__core__link--underlined mr-3"><i class="icmn-pencil"><!-- --></i> Edit</a>
                    <a href="javascript: void(0);" class="control cat__core__link--underlined"><small><i class="icmn-cross"><!-- --></i></small> Remove</a>
                </td>
            </tr>
            <tr>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">000014</a></td>
                <td><a href="javascript: void(0);" class="cat__ecommerce__dashboard__list__img"><img src="assets/modules/ecommerce/common/img/003.jpg" /></a></td>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">Gucci Glasses</a></td>
                <td>
                    <a href="javascript: void(0);" class="cat__core__link--underlined mr-3"><i class="icmn-pencil"><!-- --></i> View</a>
                    <a href="javascript: void(0);" class="cat__core__link--underlined"><small><i class="icmn-cross"><!-- --></i></small> Remove</a>
                </td>
            </tr>
            <tr>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">000015</a></td>
                <td><a href="javascript: void(0);" class="cat__ecommerce__dashboard__list__img"><img src="assets/modules/ecommerce/common/img/001.jpg" /></a></td>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">CK Glasses</a></td>
                <td>
                    <a href="javascript: void(0);" class="cat__core__link--underlined mr-3"><i class="icmn-pencil"><!-- --></i> View</a>
                    <a href="javascript: void(0);" class="cat__core__link--underlined"><small><i class="icmn-cross"><!-- --></i></small> Remove</a>
                </td>
            </tr>
            <tr>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">000016</a></td>
                <td><a href="javascript: void(0);" class="cat__ecommerce__dashboard__list__img"><img src="assets/modules/ecommerce/common/img/002.jpg" /></a></td>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">Harmann Glasses</a></td>
                <td>
                    <a href="javascript: void(0);" class="cat__core__link--underlined mr-3"><i class="icmn-pencil"><!-- --></i> View</a>
                    <a href="javascript: void(0);" class="cat__core__link--underlined"><small><i class="icmn-cross"><!-- --></i></small> Remove</a>
                </td>
            </tr>
            <tr>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">000017</a></td>
                <td><a href="javascript: void(0);" class="cat__ecommerce__dashboard__list__img"><img src="assets/modules/ecommerce/common/img/003.jpg" /></a></td>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">D&G Glasses</a></td>
                <td>
                    <a href="javascript: void(0);" class="cat__core__link--underlined mr-3"><i class="icmn-pencil"><!-- --></i> View</a>
                    <a href="javascript: void(0);" class="cat__core__link--underlined"><small><i class="icmn-cross"><!-- --></i></small> Remove</a>
                </td>
            </tr>
            <tr>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">000018</a></td>
                <td><a href="javascript: void(0);" class="cat__ecommerce__dashboard__list__img"><img src="assets/modules/ecommerce/common/img/004.jpg" /></a></td>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">Adidas Glasses</a></td>
                <td>
                    <a href="javascript: void(0);" class="cat__core__link--underlined mr-3"><i class="icmn-pencil"><!-- --></i> View</a>
                    <a href="javascript: void(0);" class="cat__core__link--underlined"><small><i class="icmn-cross"><!-- --></i></small> Remove</a>
                </td>
            </tr>
            <tr>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">000019</a></td>
                <td><a href="javascript: void(0);" class="cat__ecommerce__dashboard__list__img"><img src="assets/modules/ecommerce/common/img/003.jpg" /></a></td>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">Gucci Glasses</a></td>
                <td>
                    <a href="javascript: void(0);" class="cat__core__link--underlined mr-3"><i class="icmn-pencil"><!-- --></i> View</a>
                    <a href="javascript: void(0);" class="cat__core__link--underlined"><small><i class="icmn-cross"><!-- --></i></small> Remove</a>
                </td>
            </tr>
            <tr>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">000020</a></td>
                <td><a href="javascript: void(0);" class="cat__ecommerce__dashboard__list__img"><img src="assets/modules/ecommerce/common/img/001.jpg" /></a></td>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">CK Glasses</a></td>
                <td>
                    <a href="javascript: void(0);" class="cat__core__link--underlined mr-3"><i class="icmn-pencil"><!-- --></i> View</a>
                    <a href="javascript: void(0);" class="cat__core__link--underlined"><small><i class="icmn-cross"><!-- --></i></small> Remove</a>
                </td>
            </tr>
            <tr>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">000021</a></td>
                <td><a href="javascript: void(0);" class="cat__ecommerce__dashboard__list__img"><img src="assets/modules/ecommerce/common/img/002.jpg" /></a></td>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">Harmann Glasses</a></td>
                <td>
                    <a href="javascript: void(0);" class="cat__core__link--underlined mr-3"><i class="icmn-pencil"><!-- --></i> View</a>
                    <a href="javascript: void(0);" class="cat__core__link--underlined"><small><i class="icmn-cross"><!-- --></i></small> Remove</a>
                </td>
            </tr>
            <tr>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">000022</a></td>
                <td><a href="javascript: void(0);" class="cat__ecommerce__dashboard__list__img"><img src="assets/modules/ecommerce/common/img/003.jpg" /></a></td>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">D&G Glasses</a></td>
                <td>
                    <a href="javascript: void(0);" class="cat__core__link--underlined mr-3"><i class="icmn-pencil"><!-- --></i> View</a>
                    <a href="javascript: void(0);" class="cat__core__link--underlined"><small><i class="icmn-cross"><!-- --></i></small> Remove</a>
                </td>
            </tr>
            <tr>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">000023</a></td>
                <td><a href="javascript: void(0);" class="cat__ecommerce__dashboard__list__img"><img src="assets/modules/ecommerce/common/img/004.jpg" /></a></td>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">Adidas Glasses</a></td>
                <td>
                    <a href="javascript: void(0);" class="cat__core__link--underlined mr-3"><i class="icmn-pencil"><!-- --></i> View</a>
                    <a href="javascript: void(0);" class="cat__core__link--underlined"><small><i class="icmn-cross"><!-- --></i></small> Remove</a>
                </td>
            </tr>
            <tr>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">000024</a></td>
                <td><a href="javascript: void(0);" class="cat__ecommerce__dashboard__list__img"><img src="assets/modules/ecommerce/common/img/003.jpg" /></a></td>
                <td><a href="javascript: void(0);" class="cat__core__link--underlined">Gucci Glasses</a></td>
                <td>
                    <a href="javascript: void(0);" class="cat__core__link--underlined mr-3"><i class="icmn-pencil"><!-- --></i> View</a>
                    <a href="javascript: void(0);" class="cat__core__link--underlined"><small><i class="icmn-cross"><!-- --></i></small> Remove</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<!-- END: ecommerce/products-list -->
