<!-- START: ecommerce/products-variations -->
<section id="product_variationlst" class="card">
    <div class="card-header">
        <div class="dropdown pull-right">
            <button type="button" class="btn btn-primary btn-sm">
                Add Category
            </button>
        </div>
        <span class="cat__core__title">
            <strong>Products Categories</strong>
        </span>
    </div>
    <div class="card-block">
        <ul>
            <li><a href="#">Manchester</a>
                <ul>
                    <li><a href="#">Magazine</a>
                        <ul>
                            <li><a href="#">Spiral Scratch</a></li>
                            <li><a href="#">Real Life</a></li>
                            <li><a href="#">Secondhand Daylight</a></li>
                            <li><a href="#">The Correct Use</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Buzzcocks</a>
                        <ul>
                            <li><a href="#">Time's Up</a></li>
                            <li><a href="#">Another Music in A Different Kitchen</a></li>
                            <li><a href="#">Love Bites</a></li>
                            <li><a href="#">A Different Kind Of Tension</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Joy Division</a>
                        <ul>
                            <li><a href="#">Unknown Pleasures</a></li>
                            <li><a href="#">Closer</a></li>
                            <li><a href="#">Still</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Liverpool</a>
                <ul>
                    <li><a href="#">OMD</a>
                        <ul>
                            <li><a href="#">OMD</a></li>
                            <li><a href="#">Organisation</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Echo & the Bunnymen</a>
                        <ul>
                            <li><a href="#">Crocodiles</a></li>
                            <li><a href="#">Heaven Up Here</a></li>
                            <li><a href="#">Prcupine</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
<!-- END: ecommerce/products-list -->
