/*.datepicker table tbody{display: none !important;}
.datepicker table thead tr:nth-child(2){display: none !important;} */
.cat__core__top-sidebar{
    margin:0 !important;
    padding: 0!important;
}
.cat__content{
    /*    padding:0 !important;*/
}
.input-group-addon{
    background-color: transparent !important;
    border: none !important;
    font-size: 24px !important;
    font-weight: bold !important;
    text-transform: uppercase;
}
a {
   outline: 0;
}
#category_list::-webkit-scrollbar {
    width:5px;
    background: white;
}

#category_list::-webkit-scrollbar-track {

}

#category_list::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 7px;
    background-color: rgba(240, 137, 96, 1);
}
#category_list::-webkit-scrollbar-corner {
    background-color: transparent;
}

.growthtab{}
#category_list .budgetcat:not(.isactive) .budgetsubcat{ display:none; }
.addsubcatbtn{visibility: hidden}
#category_list .budgetcat:hover .addsubcatbtn{
    visibility: visible
}
.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  flex: 1 1;
  height: 100%;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.clickable{ cursor: pointer }
@media (min-width: 1200px) {
    .growthtab{
        position: absolute
    }

}

