/*.datepicker table tbody{display: none !important;}
.datepicker table thead tr:nth-child(2){display: none !important;} */
.cat__core__top-sidebar{
    margin:0 !important;
    padding: 0!important;
}
.cat__content{
    /*    padding:0 !important;*/
}
.input-group-addon{
    background-color: transparent !important;
    border: none !important;
    font-size: 24px !important;
    font-weight: bold !important;
    text-transform: uppercase;
}

#category_list::-webkit-scrollbar {
    width:5px;
    background: white;
}

#category_list::-webkit-scrollbar-track {

}

#category_list::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 7px;
    background-color: rgba(240, 137, 96, 1);
}
#category_list::-webkit-scrollbar-corner {
    background-color: transparent;
}




#DIV_1 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    height: 70.5469px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 181.891px;
    column-rule-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    perspective-origin: 90.9375px 35.2656px;
    transform-origin: 90.9375px 35.2656px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
}/*#DIV_1*/

#DIV_1:after {
    color: rgb(255, 255, 255);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    color: rgb(255, 255, 255);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_1:before*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 70.5469px;
    max-height: 70.56px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 181.891px;
    background-color: red;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 74.9375px 35.2656px;
    transform-origin: 74.9375px 35.2656px;
    caret-color: rgb(255, 255, 255);
   // background: rgb(22, 163, 54) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 7.2px 7.2px 7.2px 7.2px;
    font: normal normal 400 normal 14.4px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 7.92px 10.8px 7.2px;
}/*#DIV_2*/

#DIV_2:after {
    color: rgb(255, 255, 255);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14.4px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    color: rgb(255, 255, 255);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14.4px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 39.75px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 128.297px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 64.1406px 19.875px;
    transform-origin: 64.1406px 19.875px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 28.8px / 14.4px Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_3*/

#DIV_3:after {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 28.8px / 14.4px Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 28.8px / 14.4px Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_3:before*/

#BUTTON_4 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 34px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 128.297px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 64.1406px 17px;
    transform-origin: 64.1406px 17px;
    caret-color: rgb(255, 255, 255);
    //background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 28.8px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 2.88px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
    transition: none 0s ease 0s;
}/*#BUTTON_4*/

#BUTTON_4:after {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 28.8px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#BUTTON_4:after*/

#BUTTON_4:before {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 28.8px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#BUTTON_4:before*/

#SPAN_5 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 34px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 128.297px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 64.1406px 17px;
    transform-origin: 64.1406px 17px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 28.8px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
}/*#SPAN_5*/

#SPAN_5:after {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 28.8px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_5:after*/

#SPAN_5:before {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 28.8px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_5:before*/

#BDI_6 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 28.8px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#BDI_6*/

#BDI_6:after {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 28.8px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#BDI_6:after*/

#BDI_6:before {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 28.8px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#BDI_6:before*/

#DIV_7 {
    box-sizing: border-box;
    color: rgb(0, 52, 64);
    height: 17px;
    text-align: center;
    text-decoration: none solid rgb(0, 52, 64);
    text-size-adjust: 100%;
    width: 128.297px;
    column-rule-color: rgb(0, 52, 64);
    perspective-origin: 64.1406px 8.5px;
    transform-origin: 64.1406px 8.5px;
    caret-color: rgb(0, 52, 64);
    border: 0px none rgb(0, 52, 64);
    font: italic normal 400 normal 14.4px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(0, 52, 64) none 0px;
}/*#DIV_7*/

#DIV_7:after {
    color: rgb(0, 52, 64);
    text-align: center;
    text-decoration: none solid rgb(0, 52, 64);
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 52, 64);
    caret-color: rgb(0, 52, 64);
    border: 0px none rgb(0, 52, 64);
    font: italic normal 400 normal 14.4px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(0, 52, 64) none 0px;
}/*#DIV_7:after*/

#DIV_7:before {
    color: rgb(0, 52, 64);
    text-align: center;
    text-decoration: none solid rgb(0, 52, 64);
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 52, 64);
    caret-color: rgb(0, 52, 64);
    border: 0px none rgb(0, 52, 64);
    font: italic normal 400 normal 14.4px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(0, 52, 64) none 0px;
}/*#DIV_7:before*/

#DIV_8 {
    background-color: blue;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 32px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 32px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 16px 16px;
    transform-origin: 16px 16px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    flex: 0 0 auto;
    font: normal normal 400 normal 16px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_8*/

#DIV_8:after {
    color: rgb(255, 255, 255);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_8:after*/

#DIV_8:before {
    color: rgb(255, 255, 255);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_8:before*/

#DIV_9 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 32px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 32px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 16px 16px;
    transform-origin: 16px 16px;
    caret-color: rgb(255, 255, 255);
    border-top: 16px solid rgba(0, 0, 0, 0);
    border-right: 16px solid rgba(0, 0, 0, 0);
    border-bottom: 16px solid rgba(0, 0, 0, 0);
    border-left: 16px solid rgb(22, 163, 54);
    font: normal normal 400 normal 16px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_9*/

#DIV_9:after {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_9:after*/

#DIV_9:before {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / normal Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_9:before*/


