/*.datepicker table tbody{display: none !important;}
.datepicker table thead tr:nth-child(2){display: none !important;} */
.cat__core__top-sidebar{
    margin:0 !important;
    padding: 0!important;
}
.cat__content{
/*    padding:0 !important;*/
}
.input-group-addon{
    background-color: transparent !important;
    border: none !important;
    font-size: 24px !important;
    font-weight: bold !important;
    text-transform: uppercase;
}